<html>
    
    <head>
        <title>Blog Ewy</title>
    </head>
    
    <body>
        <div>
            <h1><a href="">Blog Ewy</a></h1>
        </div>

        <div>
            <p>published: 24.06.2017, 17:32</p>
            <h2><a href="">My first post</a></h2>
            <p>Makaron gotujemy 5 minut. Odcedzamy, wrzucamy na patelnię. Dodajemy masę jajeczno-serową i mieszamy aż jajko się zetnie</p>
        </div>

        <div>
            <p>published: 24.06.2017, 17:35</p>
            <h2><a href="">My second post</a></h2>
            <p>Do mąki dodajemy rozpuszczone w wodzie z cukrem drożdże i wyrabiamy ciasto aż do uzyskania jednolitej i elastycznej konsystencji</p>
        </div>

    </body>

</html>